/* Box Layouts */

/* * {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} */

/***************************************************************/

/* ------ Website template ------ */
.body{
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
}
/* ------ Website template ------ */

/***************************************************************/

/* ------ Top Menu Bar ------ */
.title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81D3EB;
}
.titleLinks {
    float: left;
}
.titleLinks a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.titleLinks a:hover {
  background-color: #001522;
}
.dropbtn {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown:hover .dropbtn {
    background-color: black;
}
.dropdown {
    float:right;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #81D3EB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* ------ Top Menu Bar ------ */

/* ------ Projects Webpage ------ */

.ProjectsTopRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 5px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #008194;
}.calculatorProjectBox{
  margin: 50px 150px 50px 150px;
  padding-bottom: 20px;
  background-color: rgba(226, 242, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
}.calculatorProjectTitle{
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 28px;
  margin-bottom: 10px;
  padding-top: 10px;  
}.readMeButton{
  display: block;
  margin: 0px auto 10px auto;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}.inputText{
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}#inputTextBox{
  width: 300px;
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}.calculateButton{
  display: block;
  margin: 15px auto 10px auto;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}.resultText{
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}#resultTextBox{
  width: 300px;
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}.readMeTextBox{
  background-color: white;
  border-radius: 10px;
  margin: 0 50px 0 50px;
}.readMeText{
  text-align: left;
  padding: 10px 0 10px 0;
  margin: 0 35px 0 35px;
}.readMeTextPoints{
  margin: 10px 0 10px 0;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
/* ------ Projects Webpage ------ */
