/* Box Layouts */

/* * {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} */

/***************************************************************/

/* ------ Website template ------ */
.body{
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
}
/* ------ Website template ------ */

/***************************************************************/

/* ------ Top Menu Bar ------ */
.title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81D3EB;
}
.titleLinks {
    float: left;
}
.titleLinks a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.titleLinks a:hover {
  background-color: #001522;
}
.dropbtn {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown:hover .dropbtn {
    background-color: black;
}
.dropdown {
    float:right;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #81D3EB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* ------ Top Menu Bar ------ */

/***************************************************************/

.BoxTextRow{
  display: flex;
}.BoxTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

/***************************************************************/

/* Homepage Webpage*/

.HomePageAboutWebsiteRow{
  margin-top: 50px;
  max-width: 1000px;
  /* background-color: #A9D171; */
  background-color: rgba(173, 213, 0, 200);
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
  /* max-height: auto; */
}.HomePageAboutWebsiteRowTitle{
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 28px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}.BoxTextAboutWebsite{
  display: block;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 10px;
  margin-left: -5px;
  padding: 10px;
}.BoxTextAboutWebsiteLeft{
  margin-left: 30px;
  margin-right: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.48);
}.BoxTextAboutWebsiteRight{
  margin-left: 15px;
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.48);
}.BoxTextAboutWebsiteImages{
  display: block;
  margin: 10px;
  padding: 15px;
}.HtmlImage{
  transform: rotate(7deg);
}.CssImage{
  transform: translateX(10px);
}.PythonImage{
  transform: rotate(-7deg);
}.JavaImage{
  transform: rotate(3deg) translateX(10px);
}

/* About Website Row */

/* The Quick Profile Row */
.HomePageProfileRow{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1000px;
  max-height: 950px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #008194;
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);}
.HomePageProfileRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  padding-top: 15px;
  margin-bottom: 10px;
}.ProfileBoxTextRow{
  display: flex;
  max-height: 500px;
  max-width: 1000px;
}.BoxTitleQuickAboutMe{
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 0;
}.BoxTextQuickAboutMe{
  display: block;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.48);
}.BoxTextQuickProfileCatPicture{
  display: block;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.48);
}.QuickProfilePicture{
  display: block;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.48);
}.BoxTextQuickProfileLeft{
  margin-left: 60px;
  margin-right: 30px;
}.BoxTextQuickProfileRight{
  margin-left: 30px;
  margin-right: 60px;
}.QuickProfileCatPicture{
  margin-left: 60px;
  margin-right: 60px;
}.QuickAboutMeList{
  margin-top: 22px;
  list-style-type: none;
}

/* The Quick Profile Row */

/* The Quick Hobbies Row */

.HomePageHobbiesRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  padding-top: 15px;
}.HomePageHobbiesRow{
  max-width: 1000px;
  height: 460px;
  border-radius: 10px;
  background-color: rgba(181, 0, 0, 255);
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
}.HobbiesBoxTextRow{
  display: flex;
}.HomePageBoxTextHobbiesLeft{
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  margin-left: 60px;
  margin-right: 30px;
}.HomePageBoxTextHobbiesRight{
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  margin-left: 30px;
  margin-right: 60px;
}.HobbiesListRight{
  margin-left: -10px;
}.HomePageDevastatorVideo{
  margin-top: 10px;
}.HobbiesSpacePicture{
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 5px;
}

/* The Quick Hobbies Row */


/* The Animal Adoption Row */

.HomePageAnimalAdoptionRow{
  max-width: 1000px;
  height: 515px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
  background-color: rgba(159, 0, 255, 255);
}
.HomePageAnimalAdoptionRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  padding-top: 15px;
  margin-bottom: 10px;
}
.HomePageAnimalAdoptionBoxes{
  display: flex;
}
.AnimalAdoptionBoxLeft{
  margin-left: 60px;
  margin-right: 30px;
}
.AnimalAdoptionBoxRight{
  margin-left: 30px;
  margin-right: 60px;
}
.AnimalAdoptionBoxText{
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}


/* The Animal Adoption Row */

/* .HomePageHobbiesRow{
  margin-top: 50px;
  max-width: 1000px;
  max-height: auto;
}.HomePageHobbiesRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
} */

/* .HomePageProjectsRow{
  margin-top: 50px;
  max-width: 1000px;
}.HomePageProjectsRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
} */

/* .HomePageCharityWorkRow{
  margin-top: 50px;
  max-width: 1000px;
}.HomePageCharityWorkRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
} */

/* Homepage Webpage*/

/***************************************************************/

/* About Me Webpage */

.AboutMeTopRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 5px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #008194;
}

/* About Me Webpage */

/***************************************************************/

/* Hobbies Webpage*/

.HobbiesTopRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 5px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #008194;
}

/* Hobbies Webpage*/

/***************************************************************/

/* Youtube Channel Webpage */

.ycTopRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 5px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #008194;
}.ycTopRow {
}.GOTG {
  margin-right: 10px;
}.DrSt {
  margin-left: 105px;
}

/* Youtube Channel Webpage */

/***************************************************************/

/* ------ Projects Webpage ------ */

.ProjectsTopRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 5px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #008194;
}.calculatorProjectBox{
  margin: 50px 150px 50px 150px;
  padding-bottom: 20px;
  background-color: rgba(226, 242, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
}.calculatorProjectTitle{
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 28px;
  margin-bottom: 10px;
  padding-top: 10px;
}.readMeButton{
  display: block;
  margin: 0px auto 10px auto;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}.inputText{
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}#inputTextBox{
  width: 300px;
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}.calculateButton{
  display: block;
  margin: 15px auto 10px auto;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}.resultText{
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}#resultTextBox{
  width: 300px;
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}.readMeTextBox{
  background-color: white;
  border-radius: 10px;
  margin: 0 50px 0 50px;
}.readMeText{
  text-align: left;
  padding: 10px 0 10px 0;
  margin: 0 35px 0 35px;
}.readMeTextPoints{
  margin: 10px 0 10px 0;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
/* ------ Projects Webpage ------ */

/***************************************************************/

/* Charity Work Webpage */

.CharityWorkTopRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 5px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #008194;
}

/* Charity Work Webpage */

/***************************************************************/

/* Education Webpage*/

.EducationTopRowTitle{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 5px;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #008194;
}

/* Education Webpage*/
