/* * {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} */
/* ------ Website template ------ */
.body{
  box-sizing: border-box;
  max-width: 1000px;
  max-height: auto;
  margin: auto;
}
/* ------ Website template ------ */

/* ------ Top Menu Bar ------ */
.title {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #81D3EB;
    border-radius: 10px
    -webkit-box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.48);
    box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.48);
}
.titleLinks {
    float: left;
}
.titleLinks a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.titleLinks a:hover {
  background-color: #001522;
}
.dropbtn {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown:hover .dropbtn {
    background-color: black;
}
.dropdown {
    float:right;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #81D3EB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* ------ Top Menu Bar ------ */

.HomePageAboutWebsiteRow{
  margin-top: 50px;
  max-width: 1000px;
  max-height: auto;
}.HomePageAboutWebsiteRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
}

.HomePageProfileRow{
  margin-top: 50px;
  max-width: 1000px;
  max-height: auto;
}.HomePageProfileRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
}

.HomePageRescueCatsRow{
  margin-top: 50px;
  max-width: 1000px;
  max-height: auto;
}.HomePageRescueCatsRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
}

.HomePageHobbiesRow{
  margin-top: 50px;
  max-width: 1000px;
  max-height: auto;
}.HomePageHobbiesRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
}

.HomePageProjectsRow{
  margin-top: 50px;
  max-width: 1000px;
  max-height: auto;
}.HomePageProjectsRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
}

.HomePageCharityWorkRow{
  margin-top: 50px;
  max-width: 1000px;
  max-height: auto;
}.HomePageCharityWorkRowTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px;
  margin-top: 50px;
}

.BoxTextRow{
  display: flex;
}.BoxTitle{
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}.BoxText{
  display: block;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  /* background-color: #008194; */
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 5px 10px 8px black; */
  -webkit-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
  -moz-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
}
.BoxTextQuickProfileCatPicture{
  display: block;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  /* background-color: #008194; */
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 5px 10px 8px black; */
  -webkit-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
  -moz-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
}
.BoxTextQuickAboutMe{
  display: block;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  /* background-color: #008194; */
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 5px 10px 8px black; */
  -webkit-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
  -moz-box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
  box-shadow: 10px 10px 24px 5px rgba(0,0,0,0.48);
}
.BoxTextQuickProfileLeft{
  margin-left: 50px;
  margin-right: 25px;
}
.BoxTextQuickProfileRight{
  margin-left: 25px;
  margin-right: 50px;
}
.QuickProfileCatPicture{
  margin-left: 60px;
  margin-right: 60px;
}

/*

.aboutMe{
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding-right: 10px;
}


.achievementsTitle{
  text-align: center;
  padding-bottom: 5px;
}
.achievementsText{
  display: block;
  color: white;
  background-color: #008194;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
} */

.ycTopRow {
  /* display: flex; */
  margin: 10px;
  padding: 10px;
}

.GOTG {
  margin-right: 10px;
}

.DrSt {
  margin-left: 105px;
}
